.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 200px;
}

.header_logo {
  width: 201px;  
  height: 43px;
  background-image: url('../asset/img/sipang.jpg');
  background-repeat: no-repeat;
}

.header_menu {
  display: flex;
  gap: 2vw;
  padding: 0px 6vw 0px 0px;
  font-size: 1vw;
}