@media only screen and (min-width: 1025px) {
  .search {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .main_img {
    width: 100%;
    height: 50em;
    background-image: url('../asset/img/main_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .main_search {
    width: 40%;
    margin-top: -26px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main_search input {
    width: 100%;
    padding: 0.4em;
    font-size: 2.5rem;
    border-radius: 37px;
    text-align: center;
    border: solid 3px #707070;
  }
  
  .main_title {
    margin: 2em 0 0.5em 5.8em;
    font-size: 4rem;
    color: #1a72ec;
    font-weight: bold;
  }
  
  .main_rank {
    width: 70%;
    margin: 1em 11em 0;
    border-radius: 18px;
    border: solid 3px #353535;
    background-color: #fff;
    text-align: left;
    padding: 0.5em 0 0.5em 2em;
    box-sizing: border-box;
    font-size: 2.5rem;
  }
  
  .main_box_group {
    display: flex;
    margin: 0 0 0 28em;
    gap: 3rem;
  }
  
  .main_box {
    width: 24.8%;
    line-height: 13em;
    margin: 1.8em 1.5em 2.5em 0;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #000;
    font-size: 2rem;
    color: #fff;
    text-align: center;
  }
  
  .main_reservation {
    width: 69%;
    height: 20em;
    border-radius: 8px;
    margin: 9em 0 2em 29em;
    background-color: #1a72ec;
    position: relative;
  }
  
  .main_reservation_text1 {
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 2.2em;
    left: 4em;
  }
  
  .main_reservation_text2 {
    font-size: 2.6rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 2.2em;
    left: 11em;
  }
  
  .main_twobox {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 10em;
    margin: 8em 0 12em 30em;
    width: 69%;
  }
  
  .main_community, .main_notice {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3em;
  }
  
  .main_squre {
    width: 98%;
    border-radius: 18px;
    border: solid 3px #707070;
    background-color: #fff;
  }
  
  .main_community_title, .main_notice_title {
    font-size: 4rem;
    font-weight: bold;
  }
  
  .main_community_content, .main_notice_content {
    margin: 0 0 0 2.5em;
  }
  
  .main_community_content_title, .main_notice_content_title {
    display: flex;
    margin: 1.2em 0px 0px 0.4em;
    font-size: 2rem;
  }
  
  .main_community_content_time, .main_notice_content_time {
    display: flex;
    justify-content: flex-end;
    margin: -0.5em 2.7em -0.5em 18em;
    font-size: 1.1rem;
  }
  
  .main_line {
    width: 95%;
    height: 0.3em;
    margin: 2em 0  ;
    background-color: #707070;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .search {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .main_img {
    width: 100%;
    height: 35em;
    background-image: url('../asset/img/main_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .main_search {
    width: 40%;
    margin-top: -2.2em;
    margin-left: auto;
    margin-right: auto;
  }

  .main_search input {
    width: 100%;
    padding: 0.4em;
    font-size: 2rem;
    border-radius: 37px;
    text-align: center;
    border: solid 3px #707070;
  }

  .main_title {
    margin: 2em 0 0.5em 3em;
    font-size: 3rem;
    color: #1a72ec;
    font-weight: bold;
  }

  .main_rank {
    width: 75%;
    margin: 1rem 13rem 0;
    border-radius: 18px;
    border: solid 3px #353535;
    background-color: #fff;
    text-align: left;
    padding: 0.5em 0 0.5em 2em;
    box-sizing: border-box;
    font-size: 2rem;
  }

  .main_box_group {
    display: flex;
    margin: 0 0 0 13em;
    gap: 3rem;
  }
  
  .main_box {
    width: 27%;
    line-height: 11em;
    margin: 1.8em 0 2.5em 0;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #000;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
  }

  .main_reservation {
    width: 75%;
    height: 17em;
    border-radius: 8px;
    margin: 9em 0 2em 14em;
    background-color: #1a72ec;
    position: relative;
  }
  
  .main_reservation_text1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 2.5em;
    left: 3em;
  }
  
  .main_reservation_text2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 2.5em;
    left: 7em;
  }

  .main_twobox {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 18em;
    margin: 8em 0 12em 15em;
    width: 69%;
  }
  
  .main_community, .main_notice {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3em;
  }
  
  .main_squre {
    width: 115%;
    border-radius: 18px;
    border: solid 3px #707070;
    background-color: #fff;
  }
  
  .main_community_title, .main_notice_title {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .main_community_content, .main_notice_content {
    margin: 0 0 0 2.5em;
  }
  
  .main_community_content_title, .main_notice_content_title {
    display: flex;
    margin: 1.2em 0px 0px 0.4em;
    font-size: 1.2rem;
  }
  
  .main_community_content_time, .main_notice_content_time {
    display: flex;
    justify-content: flex-end;
    margin: -0.5em 2.7em -0.5em 18em;
    font-size: 0.8rem;
  }
  
  .main_line {
    width: 95%;
    height: 0.3em;
    margin: 2em 0  ;
    background-color: #707070;
  }
}

@media only screen and (min-width: 482px) and (max-width: 767px) {
  .search {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .main_img {
    width: 100%;
    height: 35em;
    background-image: url('../asset/img/main_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .main_search {
    width: 40%;
    margin-top: -1.2em;
    margin-left: auto;
    margin-right: auto;
  }

  .main_search input {
    width: 100%;
    padding: 0.4em;
    font-size: 1rem;
    border-radius: 37px;
    text-align: center;
    border: solid 3px #707070;
  }

  .main_title {
    margin: 2em 0 0.5em 2.5em;
    font-size: 2rem;
    color: #1a72ec;
    font-weight: bold;
  }

  .main_rank {
    width: 75%;
    margin: 1rem 6.5rem 0;
    border-radius: 14px;
    border: solid 3px #353535;
    background-color: #fff;
    text-align: left;
    padding: 0.5em 0 0.5em 2em;
    box-sizing: border-box;
    font-size: 1.5rem;
  }

  .main_box_group {
    display: flex;
    margin: 0 3em 0 7em;
    gap: 2rem;
  }
  
  .main_box {
    width: 27%;
    line-height: 7em;
    margin: 1.8em 0 2.5em 0;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #000;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
  }

  .main_reservation {
    width: 72%;
    height: 13em;
    border-radius: 8px;
    margin: 3em 0 2em 7em;
    background-color: #1a72ec;
    position: relative;
  }
  
  .main_reservation_text1 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 2.5em;
    left: 2em;
  }
  
  .main_reservation_text2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 3.5em;
    left: 5.3em;
  }

  .main_twobox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 4em 0 12em 6em;
    width: 69%;
  }
  
  .main_community, .main_notice {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3em;
  }
  
  .main_squre {
    width: 110%;
    border-radius: 18px;
    border: solid 3px #707070;
    background-color: #fff;
  }
  
  .main_community_title, .main_notice_title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1em;
  }
  
  .main_community_content, .main_notice_content {
    margin: 0 0 0 2.5em;
  }
  
  .main_community_content_title, .main_notice_content_title {
    display: flex;
    margin: 1.2em 0px 0px 0.4em;
    font-size: 1.5rem;
  }
  
  .main_community_content_time, .main_notice_content_time {
    display: flex;
    justify-content: flex-end;
    margin: -0.5em 5em -0.5em 18em;
    font-size: 0.8rem;
  }
  
  .main_line {
    width: 95%;
    height: 0.3em;
    margin: 2em 0  ;
    background-color: #707070;
  }
}

/* @media only screen and (max-width: 481px) {
  .search {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .main_img {
    width: 100%;
    height: 20em;
    background-image: url('../asset/img/main_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .main_search {
    width: 40%;
    margin-top: -1.2em;
    margin-left: auto;
    margin-right: auto;
  }

  .main_search input {
    width: 100%;
    padding: 0.4em;
    font-size: 1rem;
    border-radius: 37px;
    text-align: center;
    border: solid 3px #707070;
  }

  .main_title {
    margin: 2em 0 0.5em 5.8em;
    font-size: 1.4rem;
    color: #1a72ec;
    font-weight: bold;
  }
  
  .main_rank {
    width: 75%;
    margin: 1rem 9rem 0;
    border-radius: 14px;
    border: solid 3px #353535;
    background-color: #fff;
    text-align: left;
    padding: 0.5em 0 0.5em 2em;
    box-sizing: border-box;
    font-size: 1.3rem;
  }

  .main_box_group {
    display: flex;
    margin: 0 0 0 9em;
    gap: 3rem;
  }
  
  .main_box {
    width: 25%;
    line-height: 6em;
    margin: 1em 0 1em 0;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #000;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
  }

  .main_reservation {
    width: 72%;
    height: 10em;
    border-radius: 8px;
    margin: 2em 0 2em 9.5em;
    background-color: #1a72ec;
    position: relative;
  }
  
  .main_reservation_text1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 2em;
    left: 3em;
  }
  
  .main_reservation_text2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: 2.5em;
    left: 7em;
  }

  .main_twobox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8em 0 10em 10em;
    width: 69%;
  }
  
  .main_community, .main_notice {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3em;
  }
  
  .main_squre {
    width: 100%;
    border-radius: 18px;
    border: solid 3px #707070;
    background-color: #fff;
  }
  
  .main_community_title, .main_notice_title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .main_community_content, .main_notice_content {
    margin: 0 0 0 2.5em;
  }
  
  .main_community_content_title, .main_notice_content_title {
    display: flex;
    margin: 1.2em 0px 0px 0.4em;
    font-size: 1.5rem;
  }
  
  .main_community_content_time, .main_notice_content_time {
    display: flex;
    justify-content: flex-end;
    margin: -0.5em 5em -0.5em 18em;
    font-size: 0.8rem;
  }
  
  .main_line {
    width: 95%;
    height: 0.3em;
    margin: 2em 0  ;
    background-color: #707070;
  }
} */